# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://<postgres_user>:<postgres_password>@localhost:5432/ece1724_w26_project?schema=public"
NEXT_PUBLIC_API_BASE_URL="http://localhost:3000"
BETTER_AUTH_SECRET=<b64_secret_here>
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# Veracity LRS Configuration for Quiz Analytics
LRS_ENDPOINT="<veracity_endpoint_URL>"
LRS_KEY="<veracity_key>"
LRS_SECRET="<veracity_secret>"

# Google GenAI Configuration for Assignment Autograding
# GEMINI_API_KEY="<gemini_api_key>"

# Google Calendar OAuth Configuration
# GOOGLE_CLIENT_ID="<google_client_id>"
# GOOGLE_CLIENT_SECRET="<google_client_secret>"

# S3 Access Key Credentials (Check the Interoperability tab in GCS)
S3_ACCESS_KEY_ID=<google_access_key>
S3_ACCESS_KEY_SECRET=<google_access_secret>

# Bucket details
S3_BUCKET_NAME=<gcs_bucket_name>

# The GCS S3-compatible endpoint and other configs
S3_ENDPOINT=https://storage.googleapis.com
S3_REGION=<google_service_region>
S3_FORCE_PATH_STYLE=true


